**Individual Assignment 1 Task 1**

Name: Ryan Hong Yang Tan

UOW ID: 8560341

Creating of data frame and cleaning of data

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
from scipy.stats import zscore
drive.mount("/content/drive")

data = pd.read_csv('/content/drive/My Drive/drug200_v2.csv')
drugDF = pd.DataFrame(data,columns=['Age','Sex','BP','Cholesterol','Na_to_K','Drug'])

# Identifying the number of missing values per column
print(drugDF.isnull().sum())

# Identifying the rows with missing values
incompleteRows = drugDF[drugDF.isnull().any(axis=1)]
print('\n', incompleteRows, '\n')

# Calculating the mode value of BP (due to categorical data) and getting the first value
BPMode = drugDF['BP'].mode()[0]
# Cleaning the data set by filling null value of BP column with the mode value of dataset
drugDF['BP'] = drugDF['BP'].fillna(BPMode)
# Checking for any null value
print(drugDF.isnull().sum())

Mounted at /content/drive
Age            0
Sex            0
BP             3
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

     Age Sex   BP Cholesterol  Na_to_K   Drug
14   50   F  NaN        HIGH   12.703  drugX
27   49   F  NaN      NORMAL    9.381  drugX
42   50   M  NaN      NORMAL   15.790  DrugY

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

Z-score normalisation and getting of mean and variance of the normalised value

In [2]:
mean_value = drugDF['Na_to_K'].mean()
std_value = drugDF['Na_to_K'].std()

# Getting the Z Score
# Na_to_K_ZScore = zscore(drugDF['Na_to_K'])
Na_to_K_ZScore = (drugDF['Na_to_K'] - mean_value) / std_value
# Appending Na to K Z Score column into the dataframe
drugDF['Na_to_K_ZScore'] = Na_to_K_ZScore
print(drugDF)

# Getting the mean and variance
normalizedMean = drugDF['Na_to_K_ZScore'].mean()
normalizedVariance = drugDF['Na_to_K_ZScore'].var()

print('\nMean of normalized value: ', normalizedMean)
print('Variance of normalized value: ', normalizedVariance)

     Age Sex      BP Cholesterol  Na_to_K   Drug  Na_to_K_ZScore
0     23   F    HIGH        HIGH   25.355  DrugY        1.283302
1     47   M     LOW        HIGH   13.093  drugC       -0.414106
2     47   M     LOW        HIGH   10.114  drugC       -0.826484
3     28   F  NORMAL        HIGH    7.798  drugX       -1.147084
4     61   F     LOW        HIGH   18.043  DrugY        0.271114
..   ...  ..     ...         ...      ...    ...             ...
195   56   F     LOW        HIGH   11.567  drugC       -0.625348
196   16   M     LOW        HIGH   12.006  drugC       -0.564578
197   52   M  NORMAL        HIGH    9.894  drugX       -0.856938
198   23   M  NORMAL      NORMAL   14.020  drugX       -0.285783
199   40   F     LOW      NORMAL   11.349  drugX       -0.655525

[200 rows x 7 columns]

Mean of normalized value:  -9.769962616701378e-17
Variance of normalized value:  1.0000000000000004

Creation and distribution of Na_to_K value evenly among 4 bins

In [3]:
# Distribute among 4 bins evenly
drugDF['Na_to_K_bin'] = pd.qcut(drugDF['Na_to_K'], 4, labels=[1, 2, 3, 4])

# Checking if the bins are (approximately) equivilant in size
print('Size of bin 1: ', len(drugDF[drugDF['Na_to_K_bin'] == 1]))
print('Size of bin 2: ', len(drugDF[drugDF['Na_to_K_bin'] == 2]))
print('Size of bin 3: ', len(drugDF[drugDF['Na_to_K_bin'] == 3]))
print('Size of bin 4: ', len(drugDF[drugDF['Na_to_K_bin'] == 4]))

print('\n', drugDF)

Size of bin 1:  50
Size of bin 2:  50
Size of bin 3:  50
Size of bin 4:  50

      Age Sex      BP Cholesterol  Na_to_K   Drug  Na_to_K_ZScore Na_to_K_bin
0     23   F    HIGH        HIGH   25.355  DrugY        1.283302           4
1     47   M     LOW        HIGH   13.093  drugC       -0.414106           2
2     47   M     LOW        HIGH   10.114  drugC       -0.826484           1
3     28   F  NORMAL        HIGH    7.798  drugX       -1.147084           1
4     61   F     LOW        HIGH   18.043  DrugY        0.271114           3
..   ...  ..     ...         ...      ...    ...             ...         ...
195   56   F     LOW        HIGH   11.567  drugC       -0.625348           2
196   16   M     LOW        HIGH   12.006  drugC       -0.564578           2
197   52   M  NORMAL        HIGH    9.894  drugX       -0.856938           1
198   23   M  NORMAL      NORMAL   14.020  drugX       -0.285783           3
199   40   F     LOW      NORMAL   11.349  drugX       -0.655525           2

[200 rows x 8 columns]

Applying one-hot-encoding on Cholesterol values

In [4]:
# Get the different OHE values
CholesterolOHE = pd.get_dummies(drugDF['Cholesterol'], prefix = 'CholesterolOHE')
print(CholesterolOHE)

drugDF = pd.concat([drugDF, CholesterolOHE], axis = 1)
print(drugDF)

     CholesterolOHE_HIGH  CholesterolOHE_NORMAL
0                   True                  False
1                   True                  False
2                   True                  False
3                   True                  False
4                   True                  False
..                   ...                    ...
195                 True                  False
196                 True                  False
197                 True                  False
198                False                   True
199                False                   True

[200 rows x 2 columns]
     Age Sex      BP Cholesterol  Na_to_K   Drug  Na_to_K_ZScore Na_to_K_bin  \
0     23   F    HIGH        HIGH   25.355  DrugY        1.283302           4
1     47   M     LOW        HIGH   13.093  drugC       -0.414106           2
2     47   M     LOW        HIGH   10.114  drugC       -0.826484           1
3     28   F  NORMAL        HIGH    7.798  drugX       -1.147084           1
4     61   F     LOW        HIGH   18.043  DrugY        0.271114           3
..   ...  ..     ...         ...      ...    ...             ...         ...
195   56   F     LOW        HIGH   11.567  drugC       -0.625348           2
196   16   M     LOW        HIGH   12.006  drugC       -0.564578           2
197   52   M  NORMAL        HIGH    9.894  drugX       -0.856938           1
198   23   M  NORMAL      NORMAL   14.020  drugX       -0.285783           3
199   40   F     LOW      NORMAL   11.349  drugX       -0.655525           2

     CholesterolOHE_HIGH  CholesterolOHE_NORMAL
0                   True                  False
1                   True                  False
2                   True                  False
3                   True                  False
4                   True                  False
..                   ...                    ...
195                 True                  False
196                 True                  False
197                 True                  False
198                False                   True
199                False                   True

[200 rows x 10 columns]

**Task 1 part 6**

A new attribute can be 'Health Risk Indicator', the formula for this attribute could be '(Age/100) * Na_to_K'. We divide the Age by 100 to normalize the data.

Health Risk is generally associated with Age as well, with higher Aged individuals generally facing greater health risks. Sodium to Potassium ratio in blood can be related to health risks such as heart disease and hypertension, where high imbalance could signify health issues.